.carousel_item {
  height: 20rem;
  width: 20rem;
  left: 10rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.carousel_view {
  height: 32rem;
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  top: 50%;
  width: 10rem;
  height: 10rem;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(230, 230, 230, 0.195);

  &_left {
    left: 0;
    transform: translate(-50%, -50%);
    justify-content: flex-end;
    
  }

  &_right {
    right: 0;
    transform: translate(50%, -50%);
    justify-content: flex-start;
  }
}