.app {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #b7b7b7;
}

.carousel {
  &_wrapper {
    width: 50rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
