.carousel_item {
  width: 70%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.05);
  border-radius: 2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.carousel_view {
  height: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  top: 50%;
  width: 10rem;
  height: 10rem;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.195);
  border-radius: 50%;

  &_left {
    left: 0;
    transform: translate(-50%, -50%);
    justify-content: flex-end;
  }

  &_right {
    right: 0;
    transform: translate(50%, -50%);
    justify-content: flex-start;
  }
}

.carousel_controls_item {
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.068);
  }

  &_active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.258);

    &:hover {
      background-color: rgba(0, 0, 0, 0.258);
    }
  }
}
